/* Import All css here */
@import "https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap";
@import "bootstrap.min.css";
@import "style.css";

/* Body Hidden till Load the page */
body:not(.page-loaded) {
  opacity: 0;
  overflow: hidden;
}
